.votedUser {
  background-color: #444444;
  list-style-type: none;
  display: flex;
  padding: 0.5rem;
  border-radius: 4px;
  margin: 0.5rem 0;
}

.userLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0.6rem;
}

.votedUserList {
  padding: 0;
}

.goldCrown {
  color: gold;
}

.silverCrown {
  color: silver;
}

.copperCrown {
  color: #cd7f32;
}

.buttonIcon {
  padding: 0 1rem;
}

.button {
  margin-bottom: 0.5rem;
}
