body {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 16px;
  position: relative; /* Ensure it stays in place on mobile */
}

.header h1 {
  font-size: 1.5rem; /* Adjust title font size */
  margin: 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

form {
  background-color: #181818; /* Dark background for the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Soft shadow around the form */
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between form elements */
}

/* Input fields styling */
input {
  background-color: #2a2a2a; /* Dark background for input fields */
  color: #e0e0e0; /* Light text for input fields */
  border: 1px solid #444; /* Light border for the inputs */
  padding: 12px;
  border-radius: 5px;
  width: 100%; /* Ensure inputs take full width */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
  font-size: 16px; /* Consistent font size for inputs */
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff; /* Blue border when input is focused */
  outline: none;
}

input[type="date"] {
  appearance: none; /* Ensures consistent styling across browsers */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  cursor: pointer; /* Makes the entire input clickable */
  padding: 10px;
}

/* Button styling */
button {
  text-transform: uppercase;
  color: white;
  background-color: #444; /* Dark background for the button */
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Ensure the button takes full width */
  font-size: 16px; /* Adjust font size for consistency */
  text-align: center; /* Align text in the button */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

button:hover {
  background-color: #333; /* Slightly darker on hover */
}

button:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Optional: blue outline on focus */
}

@media screen and (max-width: 768px) {
  .header {
    padding: 12px 16px; /* Reduce padding on mobile */
  }

  .header h1 {
    font-size: 1.25rem; /* Smaller title font size on mobile */
  }
}

@media screen and (min-width: 768px) {
  .app {
    display: flex;
  }

  .mainContent {
    padding: 20px;
    flex-grow: 1; /* Allow content to grow */
  }
}

a {
  color: white; /* Blue links */
  text-decoration: none; /* Remove underline */
}