/* TripCreation.module.css */

/* Form container with a dark background and light text */

.backButton {
  width: 10rem !important;
  margin-bottom: 10px;
}

.arrowIcon {
  width: 24px;
  height: 24px;
  color: white;
  transition: transform 0.2s;
}

.backButton:hover .arrowIcon {
  transform: translateX(-5px); /* Add a slight movement effect */
}