.resultCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #333333;
  margin-bottom: 1rem;
}

.wrapper {
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.userList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.userList.expanded {
  max-height: 9999px;
}

.userItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #444444;
  margin-bottom: 0.5rem;
}

.showButton {
  display: flex;
  justify-content: space-around;
  width: 7rem;
  cursor: pointer;
  background-color: #444444;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.showButton:hover {
  background-color: #555555;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0.5rem;
}
