.userList {
  padding: 0;
}

.userListElement {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  align-items: center;
  background-color: #181818;
  border-radius: 8px;
  padding: 0.4rem;
}

.userButton {
  display: flex;
  text-transform: capitalize;
}

.icon {
    color: red;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 0.7rem;

    &:hover {
        color: darkred;
        transition: 0.2s;
        transform: scale(1.2);
    }
}
