.goToVoteButton {
  margin: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.buttonContainer {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 1rem 0;
}

.emptyResult {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.3rem;
  background-color: #333333;
  border-radius: 8px;
}